---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1 class="text-center text-3xl font-bold text-amber-600 mt-2">Inicio</h1>
  <hr />
  <p class="my-3 text-center">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In suscipit
    asperiores placeat recusandae fuga nulla, sunt unde mollitia quisquam? Iusto
    maiores illo obcaecati recusandae aut. Quas expedita temporibus illum sequi.
  </p>
  <hr />
</Layout>
