---
import { Image } from "astro:assets";

interface Props {
  bgImage: String;
}

const { bgImage } = Astro.props;
console.log(bgImage);
---

<header class="min-h-72 relative">
  <div
    class="inset-0 absolute bg-center bg-cover"
    style={{ backgroundImage: `url(${bgImage})` }}
  >
  </div>
  <div class="inset-0 absolute bg-black/60"></div>
</header>
